<p class="admin1stH5">
  You may set default variables with this form.
</p>
<div>
  <form name="defaultValuesForm">
    <div layout="row">
      <div flex="25">
        <h5 class="admin1stH5">Variable:</h5>
      </div>
      <div flex="25">
        <h5>Default</h5>
      </div>
      <div flex="25">
        <h5>Min</h5>
      </div>
      <div flex="25">
        <h5>Max</h5>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Background Color</label>
      </div>
      <div flex="25">
        <input type="string" step="any" name="headerBackgroundHeight" id="headerBackgroundColor" ng-model="defaultVariables.headerBackgroundColor" required>
      </div>
    </div>
    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Background Height</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="headerBackgroundHeight" id="headerBackgroundHeight" ng-model="defaultVariables.headerBackgroundHeight" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Side Bar Width</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="sideNavWidth" id="sideNavWidth" ng-model="defaultVariables.sideNavWidth" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Side Bar Background Color</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="sideNavWidth" id="sideNavWidth" ng-model="defaultVariables.sideNavWidth" required>
      </div>
    </div>


    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Header Text</label>
      </div>
      <div flex="25">
        <input type="string"  name="headMainText" id="headMainText" ng-model="defaultVariables.headMainText" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Font Size</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="headMainTextSize" id="headMainTextSize" ng-model="defaultVariables.headMainTextSize" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Font Color</label>
      </div>
      <div flex="25">
        <input type="string" name="headMainTextColor" id="headMainTextColor" ng-model="defaultVariables.headMainTextColor" required>
      </div>

    </div>


    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Head Text Bold yes/no </label>
      </div>
      <div flex="25">
        <input type="boolean" step="any" name="headMainTextBold" id="Head Text Bold" ng-model="defaultVariables.headMainTextBold" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Text initialize<label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="headMainTextItal" id="headMainTextItal" ng-model="defaultVariables.headMainTextItal" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Second Level Text<label>
      </div>
      <div flex="25">
        <input type="string" name="secondText" id="secondText" ng-model="defaultVariables.secondText" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">secondTextSize</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="secondTextSize" id="secondTextSize" ng-model="defaultVariables.secondTextSize" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">secondTextColor</label>
      </div>
      <div flex="25">
        <input type="string" name="secondTextColor" id="secondTextColor" ng-model="defaultVariables.secondTextColor" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Second Text Bold</label>
      </div>
      <div flex="25">
        <input type="boolean" name="" id="secondTextBold" ng-model="defaultVariables.secondTextBold" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Second Text initialize</label>
      </div>
      <div flex="25">
        <input type="boolean" name="secondTextItal" id="secondTextItal" ng-model="defaultVariables.secondTextItal" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Third Text</label>
      </div>
      <div flex="25">
        <input type="string" name="thirText" id="thirdText" ng-model="defaultVariables.thirdText" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Third Text Size</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="thirdTextSize" id="thirdTextSize" ng-model="defaultVariables.thirdTextSize" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Third Text Color</label>
      </div>
      <div flex="25">
        <input type="string" name="thirdTextSize" id="thirdTextSize" ng-model="defaultVariables.miscDef" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">thirdTextBold</label>
      </div>
      <div flex="25">
        <input type="boolean" name="thirdTextBold" id="thirdTextBold" ng-model="defaultVariables.thirdTextBold" required>
      </div>

    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Third Text Ital</label>
      </div>
      <div flex="25">
        <input type="boolean" name="thirdTextItal" id="thirdTextItal" ng-model="defaultVariables.thirdTextItal" required>
      </div>

    </div>





    <div class="adminSubmit">
      <md-button class="md-raised md-primary" type="submit" value="Submit Default Values" ng-click="defaultValuesForm.$valid && setDefaultValues(defaultVariables)">Submit Default Values</md-button>
    </div>



  </form>
</div>
