<p class="admin1stH5">
  You may set default variables with this form.
</p>
<div>
  <form name="defaultValuesForm">
    <div layout="row">
      <div flex="25">
        <h5 class="admin1stH5">Variable:</h5>
      </div>
      <div flex="25">
        <h5>Default</h5>
      </div>
      <div flex="25">
        <h5>Min</h5>
      </div>
      <div flex="25">
        <h5>Max</h5>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Background Color</label>
      </div>
      <div flex="25">
        <input type="string" step="any" name="headerBackgroundHeight" id="headerBackgroundColor" ng-model="defaultVariables.headerBackgroundColor" required>
      </div>
    </div>
    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Background Height</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="headerBackgroundHeight" id="headerBackgroundHeight" ng-model="defaultVariables.headerBackgroundHeight" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Side Bar Width</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="sideNavWidth" id="sideNavWidth" ng-model="defaultVariables.sideNavWidth" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Side Bar Background Color</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="sideNavWidth" id="sideNavWidth" ng-model="defaultVariables.sideNavWidth" required>
      </div>
    </div>


    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Header Text</label>
      </div>
      <div flex="25">
        <input type="string"  name="headMainText" id="headMainText" ng-model="defaultVariables.headMainText" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentTenantMin" id="monthlyRentTenantMin" ng-model="defaultVariables.monthlyRentTenantMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="monthlyRentTenantMax" id="monthlyRentTenantMax" ng-model="defaultVariables.monthlyRentTenantMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Font Size</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="headMainTextSize" id="headMainTextSize" ng-model="defaultVariables.headMainTextSize" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="targetPriceMin" id="targetPriceMin" ng-model="defaultVariables.targetPriceMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="targetPriceMax" id="targetPriceMax" ng-model="defaultVariables.targetPriceMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Font Color</label>
      </div>
      <div flex="25">
        <input type="string" name="headMainTextColor" id="headMainTextColor" ng-model="defaultVariables.headMainTextColor" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="duplexBuyMin" id="duplexBuyMin" ng-model="defaultVariables.duplexBuyMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="duplexBuyMax" id="duplexBuyMax" ng-model="defaultVariables.duplexBuyMax" required>
      </div>
    </div>


    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Head Text Bold yes/no </label>
      </div>
      <div flex="25">
        <input type="boolean" step="any" name="headMainTextBold" id="Head Text Bold" ng-model="defaultVariables.headMainTextBold" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="downPaymentPercentageMin" id="downPaymentPercentageMin" ng-model="defaultVariables.downPaymentPercentageMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="downPaymentPercentageMax" id="downPaymentPercentageMax" ng-model="defaultVariables.downPaymentPercentageMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Header Text initialize<label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="headMainTextItal" id="headMainTextItal" ng-model="defaultVariables.headMainTextItal" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageRateMin" id="mortgageRateMin" ng-model="defaultVariables.mortgageRateMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageRateMax" id="mortgageRateMax" ng-model="defaultVariables.mortgageRateMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Second Level Text<label>
      </div>
      <div flex="25">
        <input type="string" name="secondText" id="secondText" ng-model="defaultVariables.secondText" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="yearsAmmoritizedMin" id="yearsAmmoritizedMin" ng-model="defaultVariables.yearsAmmoritizedMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="yearsAmmoritizedMax" id="yearsAmmoritizedMax" ng-model="defaultVariables.yearsAmmoritizedMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">secondTextSize</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="secondTextSize" id="secondTextSize" ng-model="defaultVariables.secondTextSize" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="incomeMin" id="incomeMin" ng-model="defaultVariables.incomeMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="incomeMax" id="incomeMax" ng-model="defaultVariables.incomeMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">secondTextColor</label>
      </div>
      <div flex="25">
        <input type="string" name="secondTextColor" id="secondTextColor" ng-model="defaultVariables.secondTextColor" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageYearsMin" id="mortgageYearsMin" ng-model="defaultVariables.mortgageYearsMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="mortgageYearsMax" id="mortgageYearsMax" ng-model="defaultVariables.mortgageYearsMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Second Text Bold</label>
      </div>
      <div flex="25">
        <input type="boolean" name="" id="secondTextBold" ng-model="defaultVariables.secondTextBold" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="vacancyMin" id="vacancyMin" ng-model="defaultVariables.vacancyMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="vacancyMax" id="vacancyMax" ng-model="defaultVariables.vacancyMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Second Text initialize</label>
      </div>
      <div flex="25">
        <input type="boolean" name="secondTextItal" id="secondTextItal" ng-model="defaultVariables.secondTextItal" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="propertyTaxMin" id="propertyTaxMin" ng-model="defaultVariables.propertyTaxMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="propertyTaxMax" id="propertyTaxMax" ng-model="defaultVariables.propertyTaxMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Third Text</label>
      </div>
      <div flex="25">
        <input type="string" name="thirText" id="thirdText" ng-model="defaultVariables.thirdText" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="assocDuesMin" id="assocDuesMin" ng-model="defaultVariables.assocDuesMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="assocDuesMax" id="assocDuesMax" ng-model="defaultVariables.assocDuesMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Third Text Size</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="thirdTextSize" id="thirdTextSize" ng-model="defaultVariables.thirdTextSize" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="managementMin" id="managementMin" ng-model="defaultVariables.managementMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="managementMax" id="managementMax" ng-model="defaultVariables.managementMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Third Text Color</label>
      </div>
      <div flex="25">
        <input type="string" name="thirdTextSize" id="thirdTextSize" ng-model="defaultVariables.miscDef" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="miscMin" id="miscMin" ng-model="defaultVariables.miscMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="miscMax" id="miscMax" ng-model="defaultVariables.miscMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">thirdTextBold</label>
      </div>
      <div flex="25">
        <input type="boolean" name="thirdTextBold" id="thirdTextBold" ng-model="defaultVariables.thirdTextBold" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="insuranceAnnualMin" id="insuranceAnnualMin" ng-model="defaultVariables.insuranceAnnualMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="insuranceAnnualMax" id="insuranceAnnualMax" ng-model="defaultVariables.insuranceAnnualMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">Third Text Ital</label>
      </div>
      <div flex="25">
        <input type="boolean" name="thirdTextItal" id="thirdTextItal" ng-model="defaultVariables.thirdTextItal" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="utilsMin" id="utilsMin" ng-model="defaultVariables.utilsMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="utilsMax" id="utilsMax" ng-model="defaultVariables.utilsMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv">
      <div flex="25">
        <label class="adminLabel">Legal Accounting</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="legalAccountingDef" id="legalAccountingDef" ng-model="defaultVariables.legalAccountingDef" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="legalAccountingMin" id="legalAccountingMin" ng-model="defaultVariables.legalAccountingMin" required>
      </div>
      <div flex="25">
        <input type="number" step="any" name="legalAccountingMax" id="legalAccountingMax" ng-model="defaultVariables.legalAccountingMax" required>
      </div>
    </div>

    <div layout="row" class="adminFormDiv odd">
      <div flex="25">
        <label class="adminLabel">ZIP Code</label>
      </div>
      <div flex="25">
        <input type="number" step="any" name="zipCode" id="zipCode" ng-model="defaultVariables.zipCode" required>
      </div>
    </div>

    <div class="adminSubmit">
      <md-button class="md-raised md-primary" type="submit" value="Submit Default Values" ng-click="defaultValuesForm.$valid && setDefaultValues(defaultVariables)">Submit Default Values</md-button>
    </div>



  </form>
</div>
